<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Meeting Request From: <%= current_user.email %></h1>
    <p>
		Requested date: <%= date %>, <%= time %>
      	<%= message %>
    </p>
  </body>
</html>