<!DOCTYPE html>
<html>
	<head>
		  <link rel="stylesheet" type="text/css" href="css/estilo.css" />
		  <link rel="stylesheet" type="text/css" href="css/maqueta.css" />
		  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
		  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		  <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
		  <script src="js/bootstrap.js" type="text/javascript"></script>
		  <meta charset="UTF-8"/>
	</head>
	<body>

			

		<section>

				<%= image_tag 'traje3.jpg', class: "imgPage" %>
				<div class="title">
					<h2>AboutUs</h2>
				</div>
				<div class="container1 col-md-6">
					<h3>Mision</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>

				</div>
				<div class="container1 col-md-6">
					<h3>Vision</h3>
					<p>
						The vision of the project is revive the lost art of bespoke tailoring by taking advantage of the technology currently available and the growing number of online shoppers in the country. The project’s intention is for customers to be able to custom order suits with minimum input from the company’s tailors. They intend to handle the majority of the orders via the web application and be able to take requests from all over the country and shipped the finished suits to their customers.
					</p>
				</div>

				<div class="container2 col-md-12">
					<h3>Feature Work</h3>
					<div class="col-md-6 work1"></div>
					<div class="col-md-6 work2"></div>
					<div class="col-md-6 work3"></div>
					<div class="col-md-6 work4"></div>
				</div>

		</section>
		

		

	</body>
</html>