<!DOCTYPE html>
<html>
	<head>
		  <link rel="stylesheet" type="text/css" href="css/estilo.css" />
		  <link rel="stylesheet" type="text/css" href="css/maqueta.css" />
		  <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
		  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		  <script src="js/jquery-1.11.3.min.js" type="text/javascript"></script>
		  <script src="js/bootstrap.js" type="text/javascript"></script>
		  <meta charset="UTF-8"/>
	</head>
	<body>

			

		<section class="colle">

				<img class = "imgPage" src="img/profile.jpg">
				<div class="title">
					<h2>Collection</h2>
				</div>
				<div class="container1 col-md-12 odd">
					<h3>Basic</h3>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1001.jpg">
						<h4>Suit Name</h4>
						 <input type="button" id="addCart" value="add" size="20"/>

					</div>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1002.jpg">
						<h4>Suit Name</h4>
						<input type="button" id="addCart" value="add" size="20"/>

					</div>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1003.jpg">
						<h4>Suit Name</h4>
						<input type="button" id="addCart" value="add" size="20"/>

					</div>

				</div>
				<div class="container1 col-md-12 even">
					<h3>Premium</h3>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1201.jpg">
						<h4>Suit Name</h4>
						 <input type="button" id="addCart" value="add" size="20"/>

					</div>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1202.jpg">
						<h4>Suit Name</h4>
						<input type="button" id="addCart" value="add" size="20"/>

					</div>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1203.jpg">
						<h4>Suit Name</h4>
						<input type="button" id="addCart" value="add" size="20"/>

					</div>

				</div>

				<div class="container1 col-md-12 odd">
					<h3>Master</h3>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1501.jpg">
						<h4>Suit Name</h4>
						 <input type="button" id="addCart" value="add" size="20"/>
					</div>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1502.jpg">
						<h4>Suit Name</h4>
						<input type="button" id="addCart" value="add" size="20"/>
					</div>
					<div class="col-md-4 gal">
						<img src="img/gallery/super1503.jpg">
						<h4>Suit Name</h4>
						<input type="button" id="addCart" value="add" size="20"/>
					</div>

				</div>

		</section>
		

		

	</body>
</html>