<html>
	<body id="landingBody">

		<div class="imagen">
			<div id="inicialMessage">
					<h4 class="message">
						Experience our suits
					</h4>

					<h6 id="secondMessage">
						Bespoke For Every Budget 
					</h6>
			</div>
		</div>


		<!-- Modal -->
		<%= render partial: 'layouts/sign_up_modal' %>

		<!-- Modal -->
		<%= render partial: 'layouts/log_in_modal' %>

		
	</body>
</html>