<footer>
	<div class="container">
			<div class="row">
				<div class="col-12">2015 - <a href="https://www.facebook.com/david.valles.56" target="blank">David Valles</a> | <a href="https://www.facebook.com/hugo.g.pinelo?fref=ts" target="blank">Hugo Gonzalez</a>

				<% if logged_in? %>
					<a href="#" data-toggle="modal" data-target="#myModalMeeting" id="setMeetingBT">Set up Meeting</a>
				<% end %>
				</div>

				
			</div>
	</div>
</footer>